@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Custom color variables */
:root {
    --bg-color: #F7FAF6;
    --primary-green: #10B981;
    --hover-green: #059669;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --border-color: #e5e7eb;
}
/* base Styles */
body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-primary);
}

/* navbar styles */
.custom-nav {
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
}

.nav-link {
    color: var(--text-primary) !important;
    font-weight: 800;
    margin: 0px 15px;
}

.nav-link:hover {
    color: var(--hover-green) !important;
}

/* install button Styles (inside the navbar)  */
.btn-install {
    background-color: var(--hover-green);
    color: white;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}

.btn-install:hover {
    background-color: var(--primary-green);
    color: white;
}