@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Custom color variables */
:root {
  --bg-color: #f7faf6;
  --primary-green: #10b981;
  --hover-green: #059669;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --border-color: #e5e7eb;
}
/* base Styles */
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

/* navbar styles */
.custom-nav {
  background-color: #ffffff;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
}

.nav-link {
  color: var(--text-primary) !important;
  font-weight: 800;
  margin: 0px 15px;
}

.nav-link:hover {
  color: var(--hover-green) !important;
}

/* install button Styles (inside the navbar)  */
.btn-install {
  background-color: var(--hover-green);
  color: white;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
}

.btn-install:hover {
  background-color: var(--primary-green);
  color: white;
}
/* Section Padding */
.section-padding {
  padding: 80px 0;
}

/* Hero Section Styles */
.h-section {
  padding: 60px 0;
}

.h-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.h-subtitle {
  font-size: 1.2rem;
  color: var(--text-secondary);
  max-width: 800px;
  margin: 0 auto 30px;
}

.install-form input {
  max-width: 400px;
  border: 1px solid var(--border-color);
  padding: 12px;
}

.btn-install-lg {
  background-color: var(--hover-green);
  color: white;
  padding: 12px 30px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
}

.help-text {
  font-size: 0.85rem;
  color: var(--text-secondary);
  margin-top: 15px;
  margin-bottom: 50px;
}

.hero-img {
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

/* Bento Grid Styles */
.b-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Desktop layout- 3 columns */
@media (min-width: 900px) {
  .b-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .b-large {
    grid-column: span 2;
  }
}

/* Mobile layout - 1 column */
@media (max-width: 600px) {
  .b-grid {
    grid-template-columns: 1fr;
  }
  .h-title {
    font-size: 2rem;
  }
}

.b-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease;
}

.b-card:hover {
  transform: translateY(-10px);
}

.b-card h3 {
  font-weight: 800;
  margin-bottom: 15px;
}

.b-card p {
  color: var(--text-secondary);
  margin-bottom: 0;
}
